<?xml version="1.0" encoding="UTF-8"?>
<config>
	<global>
		<blocks>
            <geolocation>
                <class>Custom_Geolocation_Block</class>
            </geolocation>
        </blocks>
		<helpers>
			<custom_geolocation>
				<class>Custom_Geolocation_Helper</class>
			</custom_geolocation>
		</helpers>
	</global>
	<frontend>
         <layout>
            <updates>
                <geolocation>
					<!-- append geolocation xml to site local.xml if not in there -->
                    <file>geolocation.xml</file>
                </geolocation>
            </updates>
        </layout>
    </frontend>
</config>
